[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]

[requires]
python_version = "3.11"
startserver = "python backend/manage.py runserver"
makemigrations = "python backend/manage.py makemigrations postin"
migrate = "python backend/manage.py migrate"